.searchPage__header {
  display: flex;
  position: sticky;
  align-items: center;
  top: 0;
  background-color: #fff;
  z-index: 100;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.searchPage_logo {
  height: 50px;
  object-fit: contain;
  margin-right: 50px;
}

.searchPage__headerBody .search__input {
  margin-top: unset;
  max-width: 50vw;
}

.searchPage__options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: gray !important;
}

.searchPage_optionsLeft,
.searchPage_optionsRight {
  display: flex;
  align-items: center;
}

.searchPage_option {
  display: flex;
  margin-right: 10px;
}

.searchPage_option a {
  text-decoration: none;
  color: gray;
}
.searchPage__result {
  margin: 40px 0;
  display: flex;
}
.searchPage__result img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-right: 20px;
}
.searchPage__results {
  max-width: 850px;
  margin-left: 240px;
  margin-bottom: 100px;
  margin-top: 20px;
}
.searchPage__result > a {
  text-decoration: none;
  color: gray;
}
.searchPage__resultTitle h2 {
  font-weight: 400;
}
